
<div class="container w-100">

    <div class="row w-100 mt-5">
      <div class="col-md-12 bv">
        <h1 class="text-monospace text-center"> Sejam bem vindes ao meu blog! </h1>
      </div>
    </div>
  
  
  
  
    <div class="row w-100 mt-4 mb-4">
      <div class="col-md-12 text-justify text-monospace text-center">
        <p class="">
          Aqui você vai encontrar diversos conteúdos sobre o universo do desenvolvimento.
        </p>
        <p class="">Conteúdos exclusivos, Dicas, Tutoriais, Resumos e muito mais!!</p>
      </div>
    </div>
  </div>
  
    <!--<div class="parallax"></div>-->

      <!--INFO SECTION-->

      <div class="infoSection">
        <div class="infoCards text-monospace">
            <div class="card one" data-aos="fade-up" data-aos-duration="1000">
                <div class="cardbgone">
                  <h2>Dicas</h2>
                </div>
                <div class="cardContent">
                    
                    <p>Quer saber como entrar nesse mundo?</p>
                    
                        <div class="cardBtn">
                          <button class="btn one" routerLink='/feed'>Ver o feed</button>
                        </div>
                  
                </div>
            </div>

            <div class="card two" data-aos="fade-up" data-aos-duration="1300">
                <div class="cardbgtwo">
                  <h2>Tutoriais</h2>
                </div>
                <div class="cardContent">
                    
                    <p>Venha ser criativo nos seus projetos!</p>
                    
                        <div class="cardBtn">
                          <button class="btn two" routerLink='/feed'>Ver o feed</button>
                        </div>
                    
                </div>
            </div>

            <div class="card three" data-aos="fade-up" data-aos-duration="1600">
                <div class="cardbgthree">
                  <h2>Artigos</h2>
                </div>
                <div class="cardContent">
                    
                    <p>Descubra coisas novas e aprimore seu conhecimento!</p>
                    
                        <div class="cardBtn">
                          <button class="btn three" routerLink='/feed'>Ver o feed</button>
                        </div>
                  
                </div>
            </div>
        </div>
    
    </div>
