<div class="container">

  <div class="row mt-5 mb-5">
    <div class="col-md-4">
      <app-perfil-lateral></app-perfil-lateral>
    </div>
    <div class="col-md-8">
      <div class="card mt-5">

        <div class="card-body">
          <p class="card-text" aria-describedby="texto">{{tema.descricao}} </p>
        </div>
      </div>

      <hr class="mt-4 mb-4">
      <div class="texto"> 
        <h5 class="text-center">Tem certeza que deseja apagar esse Tema?</h5>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <div class="sim">
          <button class="btn mr-3" (click)="btnSim()">Sim</button>
        </div>
        <div class="nao">
          <button class="btn" (click)="btnNao()">Não</button>
        </div>


      </div>
    </div>
  </div>
</div>