<div class="justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2c0a6448;">
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item home ">
                    <a class="  texto texto    font-weight-bold p-3" routerLink='/home'>Home <span class="sr-only">(página atual)</span></a>
                </li>
                <li class="nav-item feed">
                    <a class="texto   font-weight-bold p-3" routerLink='/feed'>Feed</a>
                </li>

                <div *ngIf='auth.btnLogin()'>
                    <li class="nav-item login">
                        <a class="texto   font-weight-bold p-3" routerLink='/login'>login</a>
                    </li>
                </div>

                <div *ngIf='auth.btnLogin()'>
                    <li class="nav-item cadastro">
                        <a class="texto   font-weight-bold p-3" routerLink='/cadastro'>Cadastro</a>
                    </li>
                </div>

                <div *ngIf='auth.btnSair()'>
                    <li class="nav-item  sair">
                        <a class="texto text-monospace  font-weight-bold p-3" (click)='sair()'>Sair</a>
                    </li>
                </div>

                
    
    
            </ul>
    
        </div>
    </nav>

</div>

