<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src=".../100px180/" alt="Imagem de capa do card">
    </div>
   
    <div class="card-body">
      <h5 class="card-title">{{nome}}</h5>
      <p class="card-text">Dev Full stack.</p>
    
      <a href="#" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>
      <a href="#" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
  </div>