<div class="card border-0" style="width: 18rem;">
  <div class="d-flex justify-content-center">
    <img class="card-img-top rounded-circle w-75" src="assets/80620906_1218830298313545_1512504133792301056_o.jpg"
      alt="Imagem de capa do card">
  </div>

  <div class="card-body">
    <h5 class="card-title">{{nome}}</h5>
    <p class="card-text">Dev Full stack.</p>

    <div class="linkedin">
      <a href="https://www.linkedin.com/in/wesley-bueno/" class="btn  mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>
    </div>
    <div class="github">
      <a href="https://github.com/WesleyBueno" class="btn mb-3 d-flex justify-content-center" target="_blank">GitHub</a>
    </div>

  </div>
</div>